.item {
  width: 350px;
  transition: 1s;
}

.item img {
  border-radius: 10px;
}
.item p {
  margin: 10px 0px;
}

.item-prices {
  display: flex;
  gap: 20px;
}

.item-price-new {
  color: rgb(12, 7, 7);
  font-size: 30px;
  font-weight: 600;
}

.item-price-old {
  color: #8c8c8c;
  font-size: 30px;
  font-weight: 500;
  text-decoration: line-through;
}

.item:hover {
  transform: scale(1.05);
  transition: 1s;
}
